In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/summer-analytics-mid-hackathon/hacktest.csv
/kaggle/input/summer-analytics-mid-hackathon/hacktrain.csv

In [2]:
train_df = pd.read_csv("/kaggle/input/summer-analytics-mid-hackathon/hacktrain.csv")
test_df_original = pd.read_csv("/kaggle/input/summer-analytics-mid-hackathon/hacktest.csv")

test_df_processed = test_df_original.copy()

print("Datasets loaded successfully!")

Datasets loaded successfully!

In [3]:
print("\n---Training Data Overview---")
train_df.info()

print("\n---Testing Data Overview---")
test_df_original.info()

---Training Data Overview---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8000 non-null   int64
 1   ID          8000 non-null   int64
 2   class       8000 non-null   object
 3   20150720_N  7440 non-null   float64
 4   20150602_N  6800 non-null   float64
 5   20150517_N  7200 non-null   float64
 6   20150501_N  7040 non-null   float64
 7   20150415_N  7520 non-null   float64
 8   20150330_N  6880 non-null   float64
 9   20150314_N  7280 non-null   float64
 10  20150226_N  6640 non-null   float64
 11  20150210_N  7360 non-null   float64
 12  20150125_N  6960 non-null   float64
 13  20150109_N  7120 non-null   float64
 14  20141117_N  6720 non-null   float64
 15  20141101_N  7600 non-null   float64
 16  20141016_N  6560 non-null   float64
 17  20140930_N  7200 non-null   float64
 18  20140813_N  7440 non-null   float64
 19  20140626_N  6400 non-null   float64
 20  20140610_N  7520 non-null   float64
 21  20140525_N  7280 non-null   float64
 22  20140509_N  7120 non-null   float64
 23  20140423_N  6240 non-null   float64
 24  20140407_N  7360 non-null   float64
 25  20140322_N  6880 non-null   float64
 26  20140218_N  6560 non-null   float64
 27  20140202_N  7440 non-null   float64
 28  20140117_N  6800 non-null   float64
 29  20140101_N  7600 non-null   float64
dtypes: float64(27), int64(2), object(1)
memory usage: 1.8+ MB

---Testing Data Overview---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845 entries, 0 to 2844
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2845 non-null   int64
 1   ID          2845 non-null   int64
 2   20150720_N  2845 non-null   float64
 3   20150602_N  2845 non-null   float64
 4   20150517_N  2845 non-null   float64
 5   20150501_N  2845 non-null   float64
 6   20150415_N  2845 non-null   float64
 7   20150330_N  2845 non-null   float64
 8   20150314_N  2845 non-null   float64
 9   20150226_N  2845 non-null   float64
 10  20150210_N  2845 non-null   float64
 11  20150125_N  2845 non-null   float64
 12  20150109_N  2845 non-null   float64
 13  20141117_N  2845 non-null   float64
 14  20141101_N  2845 non-null   float64
 15  20141016_N  2845 non-null   float64
 16  20140930_N  2845 non-null   float64
 17  20140813_N  2845 non-null   float64
 18  20140626_N  2845 non-null   float64
 19  20140610_N  2845 non-null   float64
 20  20140525_N  2845 non-null   float64
 21  20140509_N  2845 non-null   float64
 22  20140423_N  2845 non-null   float64
 23  20140407_N  2845 non-null   float64
 24  20140322_N  2845 non-null   float64
 25  20140218_N  2845 non-null   float64
 26  20140202_N  2845 non-null   float64
 27  20140117_N  2845 non-null   float64
 28  20140101_N  2845 non-null   float64
dtypes: float64(27), int64(2)
memory usage: 644.7 KB

In [4]:
train_df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,water,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,...,NaN,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906
1,1,2,water,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,...,NaN,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075
2,3,4,water,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,...,-1025.88,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550
3,4,5,water,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,...,-1813.95,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727
4,7,8,water,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,...,1535.00,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140

In [5]:
test_df_original.head()

,Unnamed: 0,ID,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,7466.42,413.162,5761.00,5625.45,489.403,3923.84,3097.110,6766.42,...,801.184,927.115,4704.14,6378.42,340.949,2695.570,527.268,4736.75,601.843,6639.760
1,1,2,7235.26,6037.350,1027.56,6085.14,1618.050,6668.54,2513.990,1051.69,...,5533.470,5103.040,5216.12,4885.27,4366.790,1234.140,3298.110,6942.68,1070.440,842.101
2,2,3,7425.08,6969.980,1177.94,7408.93,861.061,7644.43,814.458,1504.29,...,1981.390,6204.540,7021.69,5704.41,4897.450,1789.990,2206.100,6928.93,1036.560,831.441
3,3,4,7119.12,1731.620,6311.93,6441.61,465.979,7128.42,1649.120,6935.22,...,959.344,5794.150,1045.57,5572.90,586.287,685.906,1287.000,6734.72,824.584,6883.610
4,4,5,7519.55,8130.260,1482.54,7879.53,1001.210,7937.60,4122.530,1094.51,...,7636.070,6996.760,7413.43,4596.13,4511.700,1413.520,3283.940,7937.68,1857.800,1336.920

In [6]:
train_df.isnull().sum()

Unnamed: 0       0
ID               0
class            0
20150720_N     560
20150602_N    1200
20150517_N     800
20150501_N     960
20150415_N     480
20150330_N    1120
20150314_N     720
20150226_N    1360
20150210_N     640
20150125_N    1040
20150109_N     880
20141117_N    1280
20141101_N     400
20141016_N    1440
20140930_N     800
20140813_N     560
20140626_N    1600
20140610_N     480
20140525_N     720
20140509_N     880
20140423_N    1760
20140407_N     640
20140322_N    1120
20140218_N    1440
20140202_N     560
20140117_N    1200
20140101_N     400
dtype: int64

In [7]:
test_df_original.isnull().sum()

Unnamed: 0    0
ID            0
20150720_N    0
20150602_N    0
20150517_N    0
20150501_N    0
20150415_N    0
20150330_N    0
20150314_N    0
20150226_N    0
20150210_N    0
20150125_N    0
20150109_N    0
20141117_N    0
20141101_N    0
20141016_N    0
20140930_N    0
20140813_N    0
20140626_N    0
20140610_N    0
20140525_N    0
20140509_N    0
20140423_N    0
20140407_N    0
20140322_N    0
20140218_N    0
20140202_N    0
20140117_N    0
20140101_N    0
dtype: int64

In [8]:
train_df['class'].value_counts()

class
forest        6159
farm           841
impervious     669
grass          196
water          105
orchard         30
Name: count, dtype: int64

In [9]:
# Identify NDVI Columns and Target/ID Columns
ndvi_cols = [col for col in train_df.columns if '_N' in col]
target_col = 'class'
id_col_train = 'ID'
id_col_test = 'ID'

print(f"\nIdentified {len(ndvi_cols)} NDVI columns for processing.")

Identified 27 NDVI columns for processing.

In [10]:
print(f"Total NaNs in training data (NDVI columns) before imputation: {train_df[ndvi_cols].isnull().sum().sum()}")
print(f"Total NaNs in test data (NDVI columns) before imputation: {test_df_processed[ndvi_cols].isnull().sum().sum()}")

train_df[ndvi_cols] = train_df[ndvi_cols].interpolate(method='linear', axis=1)
test_df_processed[ndvi_cols] = test_df_processed[ndvi_cols].interpolate(method='linear', axis=1)

train_df[ndvi_cols] = train_df[ndvi_cols].fillna(0)
test_df_processed[ndvi_cols] = test_df_processed[ndvi_cols].fillna(0)

print(f"Total NaNs in training data (NDVI columns) after imputation: {train_df[ndvi_cols].isnull().sum().sum()}")
print(f"Total NaNs in test data (NDVI columns) after imputation: {test_df_processed[ndvi_cols].isnull().sum().sum()}")

Total NaNs in training data (NDVI columns) before imputation: 25040
Total NaNs in test data (NDVI columns) before imputation: 0
Total NaNs in training data (NDVI columns) after imputation: 0
Total NaNs in test data (NDVI columns) after imputation: 0

In [11]:
# Feature Engineering
def create_ndvi_features(df, ndvi_columns):
    df_copy = df.copy()
    df_copy['ndvi_mean'] = df_copy[ndvi_columns].mean(axis=1)
    df_copy['ndvi_std'] = df_copy[ndvi_columns].std(axis=1)
    df_copy['ndvi_min'] = df_copy[ndvi_columns].min(axis=1)
    df_copy['ndvi_max'] = df_copy[ndvi_columns].max(axis=1)
    df_copy['ndvi_median'] = df_copy[ndvi_columns].median(axis=1)
    df_copy['ndvi_range'] = df_copy['ndvi_max'] - df_copy['ndvi_min']
    df_copy['ndvi_q25'] = df_copy[ndvi_columns].quantile(0.25, axis=1)
    df_copy['ndvi_q75'] = df_copy[ndvi_columns].quantile(0.75, axis=1)
    df_copy['ndvi_sum_pos_diff'] = df_copy[ndvi_columns].apply(lambda x: x.diff().loc[x.diff() > 0].sum(), axis=1).fillna(0)
    df_copy['ndvi_sum_neg_diff'] = df_copy[ndvi_columns].apply(lambda x: x.diff().loc[x.diff() < 0].sum(), axis=1).fillna(0)
    return df_copy

train_df = create_ndvi_features(train_df, ndvi_cols)
test_df_processed = create_ndvi_features(test_df_processed, ndvi_cols)

features = ndvi_cols + [col for col in train_df.columns if 'ndvi_' in col]
print(f"Total features (original + engineered) prepared: {len(features)}")

train_df[features].head()

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)

Total features (original + engineered) prepared: 37

,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,20150125_N,...,ndvi_mean,ndvi_std,ndvi_min,ndvi_max,ndvi_median,ndvi_range,ndvi_q25,ndvi_q75,ndvi_sum_pos_diff,ndvi_sum_neg_diff
0,637.5950,658.668000,-1882.030000,-1924.36,997.904,-1739.990,630.087,-347.7765,-1325.64,-944.084,...,-269.881519,1017.144905,-2203.02,997.904,229.931333,3200.924,-1111.6750,578.55775,12882.6310,-13086.3200
1,634.2400,593.705000,-1625.790000,-1672.32,914.198,-692.386,707.626,-1670.5900,-1408.64,-989.285,...,-248.218496,935.550461,-2250.00,914.198,120.059000,3164.198,-961.6095,500.52350,12081.8739,-12192.0389
2,58.0174,-1599.160000,-1325.895000,-1052.63,-1308.630,-1564.630,-417.420,729.7900,-3162.14,-1364.372,...,-631.649152,1045.094565,-3162.14,952.178,-1025.880000,4114.318,-1334.7225,352.76975,11083.9000,-12485.4674
3,72.5180,226.477000,380.436000,-1256.93,515.805,-1413.180,-802.942,683.2540,-2829.40,-1267.540,...,-319.884926,1024.098285,-2829.40,1232.120,155.624000,4061.520,-1090.5015,418.52400,13894.3660,-14793.6110
4,1136.4400,1306.903333,1477.366667,1647.83,1935.800,2047.390,2158.980,1700.9250,1242.87,-2646.050,...,767.647759,1209.705801,-2646.05,2158.980,1227.269500,4805.030,-115.1035,1606.11000,8827.7750,-11321.3550

In [12]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
train_df[features] = scaler.fit_transform(train_df[features])
test_df_processed[features] = scaler.transform(test_df_processed[features])

print("Features scaled successfully.")
train_df[features].head()

Features scaled successfully.

,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,20150125_N,...,ndvi_mean,ndvi_std,ndvi_min,ndvi_max,ndvi_median,ndvi_range,ndvi_q25,ndvi_q75,ndvi_sum_pos_diff,ndvi_sum_neg_diff
0,-1.816361,-1.553299,-2.266301,-2.768534,-0.751589,-2.497387,-1.149212,-1.963906,-2.055366,-2.169188,...,-3.410248,-2.245342,-7.626104,-4.184708,-1.827578,-2.667805,-2.800838,-2.780417,-1.670265,1.868496
1,-1.817631,-1.577275,-2.175365,-2.668057,-0.782166,-2.091223,-1.117611,-2.469658,-2.085342,-2.185672,...,-3.391050,-2.379828,-7.766613,-4.239765,-1.891458,-2.693504,-2.642770,-2.824122,-1.757054,1.961137
2,-2.035737,-2.386609,-2.068936,-2.421014,-1.594128,-2.429398,-1.576113,-1.551919,-2.718627,-2.322454,...,-3.730863,-2.199275,-10.494669,-4.214784,-2.557709,-2.028654,-3.035780,-2.906875,-1.865219,1.930740
3,-2.030249,-1.712810,-1.463380,-2.502459,-0.927692,-2.370680,-1.733229,-1.569711,-2.598456,-2.287142,...,-3.454564,-2.233881,-9.499500,-4.030657,-1.870780,-2.065599,-2.778536,-2.870048,-1.560609,1.691634
4,-1.627542,-1.314051,-1.074093,-1.344462,-0.408991,-1.028990,-0.526126,-1.180624,-1.127737,-2.789840,...,-2.490743,-1.927960,-8.951131,-3.421030,-1.247723,-1.545326,-1.751122,-2.204908,-2.109747,2.051333

In [13]:
# Encoding Target Variable and Drop ID Columns
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
train_df[target_col] = label_encoder.fit_transform(train_df[target_col])
print(f"Original class labels mapped to numbers: {list(label_encoder.classes_)}")

train_df.drop(columns=[id_col_train], inplace=True)
test_ids_for_submission = test_df_original[id_col_test].copy()
test_df_processed.drop(columns=[id_col_test], inplace=True)

print("\n--- Preprocessing and Feature Engineering Complete! ---")

Original class labels mapped to numbers: ['farm', 'forest', 'grass', 'impervious', 'orchard', 'water']

--- Preprocessing and Feature Engineering Complete! ---

In [14]:
train_df.head()

,Unnamed: 0,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,...,ndvi_mean,ndvi_std,ndvi_min,ndvi_max,ndvi_median,ndvi_range,ndvi_q25,ndvi_q75,ndvi_sum_pos_diff,ndvi_sum_neg_diff
0,0,5,-1.816361,-1.553299,-2.266301,-2.768534,-0.751589,-2.497387,-1.149212,-1.963906,...,-3.410248,-2.245342,-7.626104,-4.184708,-1.827578,-2.667805,-2.800838,-2.780417,-1.670265,1.868496
1,1,5,-1.817631,-1.577275,-2.175365,-2.668057,-0.782166,-2.091223,-1.117611,-2.469658,...,-3.391050,-2.379828,-7.766613,-4.239765,-1.891458,-2.693504,-2.642770,-2.824122,-1.757054,1.961137
2,3,5,-2.035737,-2.386609,-2.068936,-2.421014,-1.594128,-2.429398,-1.576113,-1.551919,...,-3.730863,-2.199275,-10.494669,-4.214784,-2.557709,-2.028654,-3.035780,-2.906875,-1.865219,1.930740
3,4,5,-2.030249,-1.712810,-1.463380,-2.502459,-0.927692,-2.370680,-1.733229,-1.569711,...,-3.454564,-2.233881,-9.499500,-4.030657,-1.870780,-2.065599,-2.778536,-2.870048,-1.560609,1.691634
4,7,5,-1.627542,-1.314051,-1.074093,-1.344462,-0.408991,-1.028990,-0.526126,-1.180624,...,-2.490743,-1.927960,-8.951131,-3.421030,-1.247723,-1.545326,-1.751122,-2.204908,-2.109747,2.051333

In [15]:
# Model Training and Evaluation
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.metrics import classification_report

X = train_df[features]
y = train_df[target_col]

X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)
print(f"\nTraining data split: X_train shape {X_train.shape}, X_val shape {X_val.shape}")

Training data split: X_train shape (6400, 37), X_val shape (1600, 37)

In [16]:
# Initializing and Training the Logistic Regression Model
model = LogisticRegression(
    multi_class='multinomial',
    solver='saga',
    max_iter=2000,
    random_state=42,
    C=0.1
)
print(f"\nTraining Logistic Regression model with solver='{model.solver}', max_iter={model.max_iter}, C={model.C}")
model.fit(X_train, y_train)
print("Model training complete.")

Training Logistic Regression model with solver='saga', max_iter=2000, C=0.1
Model training complete.

In [17]:
# Evaluating Model on Local Validation Set
y_pred_val = model.predict(X_val)

print("\n--- Local Validation Classification Report ---")
print(classification_report(
    y_val,
    y_pred_val,
    labels=list(range(len(label_encoder.classes_))),
    target_names=label_encoder.classes_
))

--- Local Validation Classification Report ---
              precision    recall  f1-score   support

        farm       0.75      0.56      0.64       168
      forest       0.93      0.98      0.96      1232
       grass       0.78      0.36      0.49        39
  impervious       0.82      0.86      0.84       134
     orchard       1.00      0.17      0.29         6
       water       0.86      0.57      0.69        21

    accuracy                           0.91      1600
   macro avg       0.85      0.58      0.65      1600
weighted avg       0.90      0.91      0.90      1600

In [18]:
print("\n--- Performing 5-Fold Stratified Cross-Validation on Full Training Data ---")
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
cv_scores = cross_val_score(model, X, y, cv=skf, scoring='accuracy', n_jobs=-1)
print(f"Cross-validation accuracy: {cv_scores.mean():.4f} +/- {cv_scores.std():.4f}")

--- Performing 5-Fold Stratified Cross-Validation on Full Training Data ---
Cross-validation accuracy: 0.9120 +/- 0.0040

In [19]:
# Final Prediction
print("\n--- Making predictions on the test data ---")
final_predictions_encoded = model.predict(test_df_processed[features])
final_predictions_decoded = label_encoder.inverse_transform(final_predictions_encoded)
print("Predictions decoded to original class labels.")

--- Making predictions on the test data ---
Predictions decoded to original class labels.

In [20]:
# Creating submission DataFrame
result = pd.DataFrame({
    'ID': test_ids_for_submission,
    'class': final_predictions_decoded
})

print(result.head())
print(f"Submission DataFrame shape: {result.shape}")

   ID    class
0   1   forest
1   2   forest
2   3  orchard
3   4   forest
4   5   forest
Submission DataFrame shape: (2845, 2)

In [21]:
submission_file_name = "submission.csv"
result.to_csv(submission_file_name, index=False)
print(f"\nSubmission file '{submission_file_name}' created successfully!")

Submission file 'submission.csv' created successfully!